
.hero{
  width:100%;
}

.hero-banner{
  width:100%;
  height:auto;
  display:block;
}

@media(max-width:768px){

  .product-grid,
  .features,
  .quality-grid,
  .contact-grid,
  .why-grid{
      grid-template-columns:1fr;
  }

  .navbar{
      padding:20px;
  }

    .overlay h1{
      font-size:36px;
    }

}
