.quality{
  padding:120px 5%;
  background:#0a7a3d;
  color:white;
}

.quality h2{
  text-align:center;
  font-size:48px;
  margin-bottom:60px;
}

.quality-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
}

.quality-card{
  background:rgba(255,255,255,.1);
  backdrop-filter:blur(10px);
  border-radius:20px;
  padding:40px;
  text-align:center;
  transition:.4s;
}

.quality-card:hover{
  transform:translateY(-8px);
}

@media(max-width:768px){

  .product-grid,
  .features,
  .quality-grid,
  .contact-grid,
  .why-grid{
      grid-template-columns:1fr;
  }

  .navbar{
      padding:20px;
  }

    .overlay h1{
      font-size:34px;
    }

}
